@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-exec: 15 23 42;
  --fg-exec: 248 250 252;
  --accent-amber: 245 158 11;
  --accent-blue: 59 130 246;
  --accent-green: 34 197 94;
  --accent-red: 239 68 68;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  background-color: rgb(var(--bg-exec));
  color: rgb(var(--fg-exec));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
